/* BASIC STYLES */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;

}

ul {
    list-style: none;
}

/* NAV BAR */
#nav_bar {
    background-color:#adadad;
    margin-top: 25px;
}

#nav_bar li {
    display: inline-block;
    padding: 8px;
}

#nav_bar #sign_in {
    float: right;
    background: #4887ef;
    margin-right: 25px;
    padding: 7px 15px;
    border-radius: 3px;
    font-weight: bold;
}

#nav_bar #login {
    float: right;
    background: #4887ef;
    margin-right: 25px;
    padding: 7px 15px;
    border-radius: 3px;
    font-weight: bold;
}

.nav-links {
    color: #404040;
}

a {
    text-decoration: none;
    color: inherit;
}

li.nav-links a:hover {
    text-decoration: underline;
}

#sign_in:hover {
    box-shadow: 1px 1px 5px #999;
}

#login:hover {
    box-shadow: 1px 1px 5px #999;
}

#sign_in {
    color: #fff;
}

#login {
    color: #fff;
}

.ucBusca #ucBusca_logo {
    text-align: center;
    display: block;
    margin: 0 auto;
    clear: both;
    padding-top: 112px;
    padding-bottom: 20px;
}

.form {
    text-align: center;
}

#form-search {
    width: 450px;
    line-height: 32px;
    padding: 20px 10px;
}

.form #form-search {
    padding: 0 8px;
}

/*#form-search:hover {
  border-color: #e4e4e4;
  padding-top: 0;
}*/

.buttons {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 300px;
    font-size: 24px;
}


/* MEDIA QUERIES */

@media screen and (max-width: 400px) {

    li.nav-links a {
        display: none;
    }

    #ucBusca_logo {
        padding: 0;
    }

    .buttons {
        display: none;
    }

    #form-search {
        width: 80%;

    }
}



@media screen and (max-width: 565px) {

    li.nav-links a {
        display: none;
    }


    #ucBusca_logo {
        padding: 0;
    }

    .buttons {
        display: none;
    }

    #form-search {
        width: 80%;

    }
}

* {
    box-sizing: border-box;
}

#myInput {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-top:5%;
    text-align: center;
    width: 30%;
}

#myUL {
    margin-top:5%;
    width: 97%;
    text-align: center;

}

#myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    text-align: center;
}

#myUL li a:hover:not(.header) {
    background-color: #eee;
}

h2{
    margin-top:5%;
}













