
meta1/.idea/workspace.xml
meta1/admins
meta1/fileone
meta1/admins
meta1/fileone
meta1/fileone
meta1/online
*.class
SD2/.idea/SD2.iml
SD2/.idea/modules.xml
SD2/.idea/$PRODUCT_WORKSPACE_FILE$
SD2/.idea/misc.xml
SD2/.idea/vcs.xml
online
fileone
admins
backups/1_hist.txt
backups/e_hist.txt
backups/hash.txt
backups/Npalavras.txt
backups/null_hist.txt
backups/q_hist.txt
